body {
  background-color: #FCE7B0;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  align-items: center;
  justify-items: center;
}

.devoured-burgers {
  grid-column: 3 / -1;
}
.burger-wrapper {
  grid-column: 2 / 3;
}
.heading-wrapper {
  display: flex;
  justify-content: center;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}